<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>

    <h1>Expense Management System</h1>

    <h3>Welcome!</h3>

    <hr>

    <div class="summary">

        <div class="card">
            <h3>Balance</h3>
            <h2 id="balance">₹0</h2>
        </div>

        <div class="card">
            <h3>Income</h3>
            <h2 id="income">₹0</h2>
        </div>

        <div class="card">
            <h3>Expense</h3>
            <h2 id="expense">₹0</h2>
        </div>

    </div>

    <br>

    <a href="/add-transaction">
        <button>Add Transaction</button>
    </a>
    <button id="logoutBtn">Logout</button>
    
    <hr>

    <h2>Monthly Summary</h2>

    <div class="summary">

        <div class="card">
            <h3>This Month's Income</h3>
            <h2 id="monthlyIncome">₹0</h2>
        </div>

        <div class="card">
            <h3>This Month's Expense</h3>
            <h2 id="monthlyExpense">₹0</h2>
        </div>

    </div>

    <hr>

    <h2>Recent Transactions</h2>

    <table>

        <thead>

            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

        </thead>

        <tbody id="transactionTable">

        </tbody>

    </table>

    <script src="/js/dashboard.js"></script>

</body>
</html>